.footer {
    background-color: #1f1f1f;
}

.footerLogo {
    width: 267px;
    height: 117px;
}

.appDownload img {
    width: 150px;
}

.cobyRight p {
    color: #afafaf;
}

.footer a {
    text-decoration: none;
    color: #afafaf;
}